<a href="https://colab.research.google.com/github/Umme-Zaiba/HDI-/blob/main/HDI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATASET - HUMAN DEVELOPMENT INDEX DATASET

1.Including  a data and creating a dataframe.

In [1]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Umme-Zaiba/HDI-/main/HDI_dataset.csv')
df

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank.1
0,1,Switzerland,0.962,84.0,16.5,13.9,"66,933",5,3
1,2,Norway,0.961,83.2,18.2,13.0,"64,660",6,1
2,3,Iceland,0.959,82.7,19.2,13.8,"55,782",11,2
3,4,"Hong Kong, China (SAR)",0.952,85.5,17.3,12.2,"62,607",6,4
4,5,Australia,0.951,84.5,21.1,12.7,"49,238",18,5
...,...,...,...,...,...,...,...,...,...
186,187,Burundi,0.426,61.7,10.7,3.1,732,4,187
187,188,Central African Republic,0.404,53.9,8.0,4.3,966,1,188
188,189,Niger,0.400,61.6,7.0,2.1,"1,240",-3,189
189,190,Chad,0.394,52.5,8.0,2.6,"1,364",-7,190
190,191,South Sudan,0.385,55.0,5.5,5.7,768,-1,191

2. Exploratory data analysis

In [2]:
df.shape

(191, 9)

In [3]:
df.size

1719

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   HDI rank                                191 non-null    int64
 1   Country                                 191 non-null    object
 2   Human Development Index (HDI)           191 non-null    float64
 3   Life expectancy at birth                191 non-null    float64
 4   Expected years of schooling             191 non-null    float64
 5   Mean years of schooling                 191 non-null    float64
 6   Gross national income (GNI) per capita  191 non-null    object
 7   GNI per capita rank minus HDI rank      191 non-null    int64
 8   HDI rank.1                              191 non-null    int64
dtypes: float64(4), int64(3), object(2)
memory usage: 13.6+ KB

3. Data Visualization

4. Dividing the data into input and output

In [14]:
#Input
x = df.iloc[:,2:8].values
x

array([[0.962, 84.0, 16.5, 13.9, '66,933', 5],
       [0.961, 83.2, 18.2, 13.0, '64,660', 6],
       [0.959, 82.7, 19.2, 13.8, '55,782', 11],
       ...,
       [0.4, 61.6, 7.0, 2.1, '1,240', -3],
       [0.394, 52.5, 8.0, 2.6, '1,364', -7],
       [0.385, 55.0, 5.5, 5.7, '768', -1]], dtype=object)

In [15]:
#output
y = df.iloc[:,8].values
y

array([  3,   1,   2,   4,   5,   5,   9,   8,   7,  10,  12,  10,  16,
        13,  15,  14,  17,  17,  19,  20,  21,  22,  26,  23,  23,  25,
        27,  28,  29,  32,  30,  30,  33,  36,  35,  34,  38,  39,  37,
        45,  41,  43,  42,  46,  40,  44,  47,  48,  52,  54,  49,  49,
        53,  51,  58,  59,  56,  57,  55,  60,  67,  61,  64,  62,  62,
        64,  68,  64,  70,  71,  71,  69,  75,  73,  76,  77,  78,  79,
        82,  82,  81,  80,  73,  85,  87,  88,  86,  88,  82,  97,  96,
       100,  90,  93,  99,  90,  97,  94,  94,  92, 107, 106, 104, 117,
       100, 109, 104, 107, 102, 110, 112, 113, 103, 116, 113, 113, 110,
       119, 121, 118, 122, 126, 120, 122, 124, 129, 125, 127, 128, 131,
       131, 130, 135, 136, 133, 137, 138, 139, 134, 142, 140, 142, 144,
       141, 147, 148, 145, 149, 145, 152, 150, 150, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 163, 162, 163, 165, 166, 166, 168, 169,
       170, 171, 171, 173, 173, 175, 176, 177, 179, 180, 177, 181, 182,
       183, 185, 184, 186, 187, 188, 189, 190, 191])

5.Train and test variables

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [8]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(191, 7)
(143, 7)
(48, 7)

In [17]:
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(191,)
(143,)
(48,)

6.Normalization/scaling

7.Applying a Classifier or regressor or clusterer

In [18]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

8.Fitting the model